.anim-typewriter{
  white-space: nowrap;
  overflow: hidden;
 max-width: 40rem;
  /* background-color: chartreuse; */
  position: absolute;
  left: 8rem;
  animation: type 4s steps(60, end);
}
span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { 
    
    width: 0; } 
  to {
    
    }
} 


@keyframes blink{
  to{opacity: .0;}
}

