.anim-typewriter{
  white-space: nowrap;
  overflow: hidden;
 max-width: 40rem;
  /* background-color: chartreuse; */
  position: absolute;
  left: 8rem;
  animation: type 4s steps(60, end);
}
span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { 
    
    width: 0; } 
  to {
    
    }
} 


@keyframes blink{
  to{opacity: .0;}
}

@keyframes customRotate {
  from {
    -webkit-transform: rotate(-1200deg);
    transform: translate(50%) rotate(-1200deg) scale(.5);
    opacity: 0;
  }

  to {
    transform: translate(50%) rotate(0) scale(1);
    opacity: 1;
  }
}

.customRotate {
  /* -webkit-animation-name: rotateIn; */
  animation-name: customRotate;
  animation-delay: 0;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}