* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin-top: 1rem;
  width: 100%;
  height: 100vh;
  background-color:#feda0e;
  font-family: 'Kalam', cursive;
  
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bangers', cursive;
}

.circles-8 { 
  
  background-size: 5.8rem 5.8rem;

  /*TODO: make sure this blend mode isn't too "extra"*/ 
  background-blend-mode: overlay;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8Y2lyY2xlIGN4PSc0LjUnIGN5PSc0LjUnIHI9JzQuNScgZmlsbD0nYmxhY2snLz4KPC9zdmc+"); 
  background-repeat: repeat; 
}

nav {
  background-color: white;
  height: 14rem;
  width: 100%;
  top: -2rem;
  left: 0;
  right: 0;
  transform: rotate(-2deg);
  border: .2rem solid black;
  z-index: 5;
}

.nav_inner {
  background: linear-gradient(to bottom, #972024,#f6343a);
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  position: fixed;
  border: .2rem solid black;
}

#logo {
  z-index: 34;
  width: 28rem;
  position: absolute;
  right: 50%;
  top: -7rem;
  /* transform: translate(50%); */
  -webkit-transform-origin: center;
  transform-origin: center;
}

#aside_image{
  opacity: 0;
  position: absolute;
  top: 0;
  right: -5rem;
  width: 35rem;
  z-index: 5000;
}

aside {
  display: none;
  background-color: white;
  width: 20rem;
  height: 100%;
  position: fixed;
  right: -3%;
  bottom: 100%;
  top: 0;
  transform: rotate(-3deg);
  border: .2rem solid black;
}

.aside_inner {
  background: linear-gradient(to left, #f75002 50%,#ee7c47);
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  margin: 0 auto;
  border: .2rem solid black;
}

footer {
  height: 15rem;
  width: 105%;
  position: fixed;
  bottom: -2%;
  z-index: 3;
}

footer img {
  width: auto;
  height: 12rem;
  position: absolute;
  bottom: 0;
  right: 0;
}


/* ng-view styles */

/* start component styles */

.gameIntro {
  z-index: 6;
  position: fixed;
  top: 55%;
  right: 50%;
  transform: translate(50%, -50%);
  height: auto;
  width: 36rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: .2rem solid black;
  -webkit-box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
  -moz-box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
  box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
  padding: 1rem;
  
}

.gameIntro_inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 1rem;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #46a8dca8, #0a1c20d2);
  border: .2rem solid black;
  font-size: 1.9rem;
}

.gameIntro_inner h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.5rem;
  color: #d01e00;
}

.gameIntro_inner p {
  text-align: left;
  width: 90%;
  margin: 1rem 0.8rem;
}

.gameIntro_button {
  z-index: 1000000000;
  width: 12rem;
  height: 5rem;
  font-size: 3rem;
  font-family: 'Bangers', cursive;
  color: black;
  padding: 0.8rem;
  border: .2rem solid #0a1c20;
  background-color: #fedb0e;
  cursor: pointer;
  transition: 0.3s all;
}

.gameIntro_button:hover {
  transform: scale(1.1);
}

.userInfoForm {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 55%;
  right: 50%;
  /* transform translate centers the div based on the center OF the div, rather than the edges */
  transform: translate(50%, -50%);
  height: auto;
  width: 90%;
  padding: 2rem 1rem;
  background-color: #f75002e0;
  font-size: 1.4rem;
  border-radius: .5rem;
  -webkit-box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
  -moz-box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
  box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
  overflow: visible;

}

.userInfoForm input {
  background-color: #feda0e;
  padding: 1rem;
  margin: 1rem 0;
  font-family: 'bangers';
  font-size: 1.5rem;
  cursor: pointer;
  border: .1rem solid black;
  outline: none;
  font-family: kalam;
}

.userInfoForm h3 {
  color: #0a1c20;
  font-size: 2rem;
  letter-spacing: .15rem;
}

.userInfoForm_Grade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.userInfoForm_Subject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfoForm_selections {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.userInfoForm_selections h3 {
  width: 80%;
  letter-spacing: .2rem;
  font-size: 2.2rem;
}


.userInfoForm p {
  font-size: 1.6rem;
  border: .2rem solid black;
  padding: .5rem;
  margin: .5rem;
  width: 12rem;
  color: white;
  margin-bottom: 1rem;
  transition: .3s all;
  animation-duration: 1s;
}

.userInfoForm_Grade p {
  background-color: #46a7dc;
  cursor: pointer;
}

.userInfoForm_Subject p {
  background-color: #d01e00;
  cursor: pointer;
}

.userInfoForm_Subject p:hover {
  transform: scale(1.1);
}

.userInfoForm_Grade p:hover {
  transform: scale(1.1);
}


.clickedHero_stats {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 35%;
    left: 50%;
    transform-origin: center;
    transform: rotate(0deg) translate(-50%, -50%);
    z-index: 6;
    background-color: white;
    width: 25rem;
    padding: 1rem 2rem 5rem 2rem;
    -webkit-box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
    -moz-box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
    box-shadow: 2px 3px 79px 6px rgba(0,0,0,0.37);
    border: .2rem solid black;
    display: none;
}

.clickedHero_name {
  font-size: 2rem;
  text-align: center;
  color: #d01e00;
}

.clickedHero_stats h3 {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-align: center;
  padding: .5rem 0;
}

.clickedHero_stats img {
  width: 10rem;
  border-radius: 50%;
  border: .2rem solid black;
}

.clickedHero_powerstats {
  width: 100%;
  padding-bottom: 2rem;
  /* background-color: #41a6de; */
}
.clickedHero_powerstats_trait {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: .4rem;
}

.clickedHero_powerstats_trait:nth-child(odd) {
  background-color: #41a7de46;
}

.clickedHero_buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  cursor: pointer;
}

/* TODO: consolidate repetitive code on buttons */
#backToHeroes {
  width: 11rem;
  z-index: 7;
  height: 10rem;
  border: none;
  position: absolute;
  left: -3rem;
  bottom: -2rem;
  transform: rotate(-15deg);
  transition: .5s all;
}

#backToHeroes:hover,
#readyToBattle:hover,
  .beginAdv:hover {
  transform: rotate3d(1, 1, 1, 40deg);
  cursor: pointer;
}

#readyToBattle {
  z-index: 7;
  width: 11rem;
  border: none;
  position: absolute;
  right: -3rem;
  bottom: -2rem;
  transform: rotate(-15deg);
  transition: .5s all;
}


.main {
  margin: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.671);
  height: auto;
  min-height: 75%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  color: #0a1c20;
}

#main_gameover {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.homeButton {
  padding: 1rem;
  width: 1rem;
  height: 1rem;
}
.main h2 {
  font-size: 3rem;
  letter-spacing: .5rem;
  color: #0a1c20;
  text-align: center;
}

.heroOption_container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.heroOption {
  margin: 1rem;
  margin-bottom: 2rem;
  width: 20rem;
  min-height: 24rem;
  height: auto;
  background-color: white;
  padding: 1rem;
  border: .2rem solid black;
  position: relative;
}

.img_wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: .2rem solid black;
  z-index: 1;
  position: relative;
  transition: 0.5s;
  opacity: 1;
  cursor: pointer;
}

.img_wrapper:hover {
  opacity: .65;
}

.img_wrapper img{
  width: 100%;
  height: 100%;
  transition: .4s all;
  object-fit: cover; 
}

.test:hover{
  opacity: 0;
}

.test:hover > .img_wrapper img{
  transform: scale(1.5);
  border: 5px solid pink;
}

.heroOption p {
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
  font-family: 'bangers';
  font-size: 2.5rem;
  position: absolute;
  top: 1rem;
  left: -1rem;
  background-color: rgb(247, 243, 243);
  transform: rotate(-15deg);
  border: .2rem solid black;
  z-index: 2;
}

/* battle styles */
.fighters {
  margin: 1rem 0 9rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
 
}

.fighter_info {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 18rem;
  position: relative;
} 

.fighter_info_img {
  position: absolute;
  right: -2rem;
  top: -2.4rem;
  z-index: 1;
  bottom: 13rem;
  border: .2rem solid black;
  width: 18%;
  border-radius: 50%;
}

.name_bubbleWrap{
  position: relative;
}

.name_bubbleWrap h2 {
  width: 100%;
  position: absolute;
  top: -14%;
  right: 50%;
  transform: translateX(50%);
}

#playerImg {
  left: -2rem;
  top: -2.4rem;
 }
 

.speechBubble {
  /* margin: -3rem 0; */
  width: 100%;
  height: 20rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.7rem;
  position: relative;
}

.speechBubble img {
  width: 115%;
  max-width: 49.7rem;
}

.speechBubble_questions {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  line-height: 2rem;
  font-size: 1.5rem;
  transform: translate(50%, -50%);
  z-index: 500;
}

.speechBubble_answers {
  width: 90%;
  text-align: left;
  position: absolute;
  top: 50%;
  right: 38%;
  line-height: 1rem;
  font-size: 1.5rem;
  transform: translate(50%, -50%);
  z-index: 500;
}



#playerSpeech_flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fighter_info_img p {
  text-align: center;
}


.fighters h2 {
  font-size: 2rem;
}

.fighter_info h3 {
  font-family: 'Kalam', cursive;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #d01e00;
  background-color: #fedb0e;
}

.beginAdv{
  width: 11rem;
  height: 10rem;
  border: none;
  position: absolute;
  right: -3rem;
  bottom: -3.5rem;
  transform: rotate(-10deg);
  transition: .5s all;
  cursor: pointer;
}

.healthBar_div {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.healthBar_outer {
  height: 2.5rem;
  width: 13rem;
  position: relative;
  background-color: grey;
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  padding: .3rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.4);
}

.healthBar_inner {
  display: block;
  height: 90%;
  width: 100%;
  position: relative;
  background-color: greenyellow;
  border-radius: 2rem;
  box-shadow: 
    inset 0 .2rem .9rem  rgba(255,255,255,0.3),
    inset 0 -.2rem .6rem rgba(0,0,0,0.4);
  overflow: hidden;
}

.health_bar_name {
  font-family: 'Kalam', cursive;
  color: #0a1c20;
  letter-spacing: .1rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5rem;
}

.nameAndBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




/* TODO: make these buttons not suck */
.button_battle {
  position: fixed;
  top: 47%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1000000000;

  /* size values */
  width: 22rem;
  height: 8rem;

  /* colors */
  background-color: #fedb0e;
  color: black;

  font-size: 3rem;
  font-family: 'Bangers', cursive;
  
  padding: 1rem;
  border: .2rem solid #0a1c20;
  cursor: pointer;
}


.button_battle:nth-of-type(2){
  background-color: #ee7c47;
}

.question {
  font-size: 2rem;
  margin: 0 auto;
}

.answer_options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .5rem;
  margin-left: -1rem;
  padding: .5rem;
  transition: .3s all;
  text-align: left;
}

.answer_options:hover {
  cursor: pointer;
  color: #f75002;
}

#player_speech {
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.totalWins {
  font-size: 1.4rem;
  text-align: center;
  width: 25%;
}


.gameoverImg {
  width: 25rem;
  height: 25rem;
  border: 2px solid black;
  box-shadow: 0 .1rem .1rem grey;
}

.gameoverImgContainer{
  margin-top: 3.3rem;
  padding-bottom: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  width: 50rem;
  height: 30rem;
  position: relative;
}

.gameoverImgContainer p {
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  align-items: center;
  font-family: 'Special Elite', cursive;
  text-shadow: 0px 1px 1px #4d4d4d;
  font-size: 3.5rem;
  position: absolute;
  top: 6rem;
  left: 27rem;
  transform: rotate(-15deg);
  border: .5rem solid red;
  border-radius: .5rem;
  opacity: .2rem;
  color: red;
  z-index: 2;
}

.gameoverWinner{
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.gamover_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}

.gamover_btns button {
  z-index: 1000000000;
  width: auto;
  height: auto;
  max-width: 80%;
  font-size: 3rem;
  font-family: 'Bangers', cursive;
  color: black;
  padding: 1rem;
  border: .2rem solid #0a1c20;
}

.button_new_game {
  margin-bottom: .5rem;
  background-color: #fedb0e;
  cursor: pointer;
  z-index: 10000000000;
}

.gameoverButton_text {
  font-family: 'kalam', cursive;
  font-size: 1.3rem;
}

.button_rematch {
  background-color: #46a7dc;
  cursor: pointer;
  z-index: 10000000000;
}

.gameover_name h2 {
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
  font-family: 'bangers';
  font-size: 2.5rem;
  position: absolute;
  top: 21rem;
  left: 28rem;
  background-color: rgb(247, 243, 243);
  transform: rotate(-15deg);
  border: .2rem solid black;
  z-index: 2;
}

.gameoverWinnerH2 {
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
  font-family: 'bangers';
  font-size: 2.5rem;
  position: absolute;
  top: 2rem;
  left: 10rem;
  background-color: rgb(247, 243, 243);
  transform: rotate(-30deg);
  border: 1px solid black;
  z-index: 1000000;
}

#f6343c
#d01e00
#fedb0e
#41a6de
#0a1c20