
/* TABLET VIEW */


@media only screen and (min-width: 768px){
  footer img {
    width: 100%;
    height: auto;
  }

  aside {
    display: block;
  }

  #logo {
    width: 31rem;
    top: -6rem;
  }

  .main {
    margin: 3rem 19rem 20rem 3rem;
    padding: 6rem 1rem 1rem 1rem;
  }

  .userInfoForm {
    width: 60%;
    margin-right: 8rem;
  }

  .clickedHero_stats {
    width: 35rem;
  }

  .clickedHero_stats img {
    border-radius: 0;
    width: 18rem;
  }
  .clickedHero_powerstats_trait {
    font-size: 1.5rem;
  }

  .speechBubble_questions {
    font-size: 1.7rem;
    padding: .5rem 0rem .5rem 2.5rem;
    width: 75%;
  }

  .speechBubble_answers {
    font-size: 1.7rem;
    width: 75%;
  }
 
  .button_battle {
    height: 12rem;
    font-size: 3.5rem;
    width: 25rem;
    right: 56%;
  }

  .totalWins {
    font-size: 2rem;
    width: 33%;
    }
    
  }

/* DESKTOP VIEWS */

@media only screen and (min-width: 900px){  
  .button_battle {
    top: 31%;
    right: 56%;
    font-size: 4.5rem;
    width: 38rem;
  }

  #logo {
    width: 40rem;
    top: -11rem;
  }

  .userInfoForm_selections {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userInforForm_Subject_opts, .userInforForm_Grade_opts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
/* 
  .userInfoForm_Grade, .userInfoForm_Subject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  } */

  .fighters {
    flex-direction: row;
  }

  .fighter_info {
    flex-direction: column;
    height: 50rem;
  }

  .fighter_info h2 {
    order: 1
  }

  .name_bubbleWrap h2 {
    top: 0;
  }

  .speechBubble {
    order: 2;
  }

  .speechBubble_answers {
    top: 45%;
  }

  .answer_options {
    margin-left: -7.5rem;
  }


  .fighter_info_img {
    margin-top: -2rem;
    max-height: 22.5rem;
    position: static;
    z-index: 1;
    border: .2rem solid black;
    width: 40%;
    border-radius: 0%;
    order: 3;
  }

  .speechBubble {
    height: auto;
  }

  .fighter_info:nth-of-type(1){
    order: 2
  }

  .fighter_info:nth-of-type(2){
    order: 1;
  }
 
  .health_bar_name {
    font-size: 2rem;
  }

  .healthBar_outer {
    height: 2.5rem;
    width: 30rem;
  }
  /* .totalWins {
    font-size: 3.2rem;
    width: 33%;
    } */

    footer img {
      bottom: -4rem;
    }

    }

